
<div class="row">
	<div class="col-md-12">
		<h1>Meals</h1>
		<br>
		<div class="row">
			<div class="col-md-2 form-inline">
				<button class="btn btn-success btn" data-toggle="modal" data-target="#newMeal"><span class="glyphicon glyphicon-plus" data-title="Add Meal" ></span> Add meal</button>
			</div>

			<div class="col-md-4 form-inline">
				<div class="form-group pull-right">
					<p class="input-group">
						<label class="control-label"> From</label>
					</p>
					<p class="input-group">
						<input type="text" size="16" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="filter.start_date" is-open="datepickers.filterstart" ng-focus="openPicker('filterstart', $event)" name="filterDtStart" placeholder="Start Date"/>
						<span class="input-group-btn">
	 						<button type="button" class="btn btn-default" ng-click="openPicker('filterstart', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
	 					</span>
	 				</p>
					<p class="input-group">
						<input type="text" size="5" class="form-control" ng-model="filter.start_time" placeholder="Time">
					</p>
				</div>
			</div>

			<div class="col-md-4 form-inline">
				<div class="form-group pull-right">
					<p class="input-group">
						<label class="control-label"> To</label>
					</p>
					<p class="input-group">
						<input type="text" size="16" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="filter.end_date" is-open="datepickers.filterend" ng-focus="openPicker('filterend', $event)" name="filterDtEnd" placeholder="End Date"/>
						<span class="input-group-btn">
	 						<button type="button" class="btn btn-default" ng-click="openPicker('filterend', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
	 					</span>
	 				</p>
					<p class="input-group">
						<input type="text" size="5" class="form-control" ng-model="filter.end_time" placeholder="Time">
					</p>
				</div>
			</div>

			<div class="col-md-2 form-inline">
				<div class="form-group pull-right">
					<button class="btn btn-default" ng-click="filterMeals()"> Filter</button>
					<button class="btn btn-default" ng-click="clearFilter()"> Clear</button>
				</div>
			</div>
		</div>

		<br>

		<div class="table-responsive">
			<div class="alert alert-warning text-center" ng-show="meals.length == 0">
				You do not have any meals. Start registering today using the button above!
			</div>

			<table id="mealsTable" class="table table-bordred table-striped" ng-show="meals.length > 0">
				<thead>
					<th>Description</th>
					<th>Calories</th>
					<th>Date</th>
					<th>Time</th>
					<th>Actions</th>
				</thead>

				<tbody>
					<tr ng-Repeat="meal in meals">
						<td>{{meal.description}}</td>
						<td>{{meal.calories}}</td>
						<td>{{meal.ate_at_date | date:'dd-MMMM-yyyy'}}</td>
						<td>{{meal.ate_at_time}}</td>
						<td>
							<button class="btn btn-default btn-xs" data-title="Edit" data-toggle="modal" data-target="#editMeal" value="{{meal.id}}" ng-click="prepareToUpdate($event)"><span class="glyphicon glyphicon-pencil" value="{{meal.id}}"></span></button>

							<button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#deleteMeal" ng-click="prepareToDelete($event)" value="{{meal.id}}"><span value="{{meal.id}}" class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix"></div>
		</div>

		<div id="consumedCal" class="pull-right" ng-class="{green : profile.consumed_calories <= profile.expected_calories, red : profile.consumed_calories > profile.expected_calories}">
			Calories consumed today: {{profile.consumed_calories}}
		</div>
	</div>
</div>


 <div class="modal fade" id="editMeal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 				<h4 class="modal-title custom_align" id="Heading">Edit Your Meal</h4>
 			</div>
 			<div class="modal-body">
 				<div class="hidden"></div>
 				<div class="form-row">
	 				<div class="col-xs-12 form-group">
	 					<label for="description" class="control-label">Description</label>
	 					<input name="description" class="form-control " type="text" ng-model="mealToUpdate.description">
	 				</div>
 				</div>

 				<div class="form-row">
	 				<div class="col-xs-3 form-group">
						<label for="calories" class="control-label">Calories</label>
	 					<input class="form-control" name="calories" type="number" min="1" max="10000" ng-model="mealToUpdate.calories">
	 				</div> 		 				

	 				<div class="col-xs-6 form-group">
	 					<label class="control-label" for="ate_at">Date</label>
	 					<p class="input-group">
	 						<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="mealToUpdate.ate_at_date" is-open="datepickers.editmodal" ng-focus="openPicker('editmodal', $event)" name="ate_at"/>
	 						<span class="input-group-btn">
	 							<button type="button" class="btn btn-default" ng-click="openPicker('editmodal', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
	 						</span>
	 					</p>	 					
					</div>

					<div class="col-xs-3 form-group">
	 					<label class="control-label" for=""> Time</label>
						<input type="text" size="5" class="form-control" ng-model="mealToUpdate.ate_at_time">
					</div>

					<div class="col-xs-12 form-group">
		 				<button type="button" class="btn btn-success btn-lg btn-block" ng-click="updateMeal(mealToUpdate)" data-dismiss="modal"> Update</button>
					</div>	
 				</div>
 				<div class="clearfix"></div>
 			</div>
 		</div>
 		<!-- /.modal-content --> 
 	</div>
 	<!-- /.modal-dialog --> 
 </div>


 <div class="modal fade" id="newMeal" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 				<h4 class="modal-title custom_align" id="Heading">Add a Meal</h4>
 			</div>
 			<div class="modal-body">
 				<div class="form-row">
	 				<div class="col-xs-12 form-group">
	 					<label for="description" class="control-label">Description</label>
	 					<input name="description" class="form-control " type="text" ng-model="newMeal.description">
	 				</div>
 				</div>

 				<div class="form-row">
	 				<div class="col-xs-3 form-group">
						<label for="calories" class="control-label">Calories</label>
	 					<input class="form-control" name="calories" type="number" min="1" max="10000" ng-model="newMeal.calories">
	 				</div> 		 				


	 				<div class="col-xs-6 form-group">
	 					<label class="control-label" for="ate_at"> Date</label>
	 					<p class="input-group">
	 						<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="newMeal.ate_at_date" is-open="datepickers.newmodal" ng-focus="openPicker('newmodal', $event)" name="ate_at"/>
	 						<span class="input-group-btn">
	 							<button type="button" class="btn btn-default" ng-click="openPicker('newmodal', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
	 						</span>
	 					</p>
					</div>

					<div class="col-xs-3 form-group">
	 					<label class="control-label" for=""> Time</label>
						<input type="text" size="5" class="form-control" ng-model="newMeal.ate_at_time">
					</div>

					<div class="col-xs-12 form-group">
		 				<button type="button" class="btn btn-success btn-lg btn-block" ng-click="createMeal(newMeal)" data-dismiss="modal"> Save</button>
					</div>	
 				</div>
 				<div class="clearfix"></div>
 			</div>
 		</div>
 		<!-- /.modal-content --> 
 	</div>
 	<!-- /.modal-dialog --> 
 </div>



 <div class="modal fade" id="deleteMeal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 				<h4 class="modal-title custom_align" id="Heading">Delete meal</h4>
 			</div>
 			<div class="modal-body">

 				<div class="alert"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this meal?</div>

 			</div>
 			<div class="modal-footer ">
 				<button type="button" class="btn btn-success" ng-click="deleteMeal()" data-dismiss="modal"> Yes</button>
 				<button type="button" class="btn btn-default" data-dismiss="modal"> No</button>
 			</div>
 		</div>
 		<!-- /.modal-content --> 
 	</div>
 	<!-- /.modal-dialog --> 
 </div>