<nav class="navbar navbar-default" ng-controller="NavBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Ctrl-Calories</span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-show="token">
        <li class="active"><a href="#">My Profile</a></li>
        <li><a href="#">Meals</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="token">
        <li><a href ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
