<nav class="navbar navbar-default" ng-controller="NavBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand"><span class="glyphicon glyphicon-apple"> </span>Ctrl-Calories</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-show="isLogged()">
        <li ng-class="{active : isNavActive('/')}"><a href="#/">My Meals</a></li>
        <li ng-class="{active : isNavActive('/profile')}"><a href="#/profile">My Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="isLogged()">
        <li><a href ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
