<style>
  body {
    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -ms-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
  }
</style>

<div id="hello"></div>    

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <div class="well">
                  <form id="loginForm" name="loginForm" novalidate>
                      <div class="form-group">
                          <label for="login" class="control-label">Email</label>
                          <input type="email" class="form-control form-control-req" id="login" name="login" title="Please enter your email" placeholder="your@email.com" ng-model="login" required>
                          <span class="help-block"></span>
                      </div>
                      <div class="form-group">
                          <label for="password" class="control-label">Password</label>
                          <input type="password" class="form-control form-control-req" id="password" name="password" title="Please enter your password" ng-model="password" required>
                          <span class="help-block"></span>
                      </div>
                      <div id="loginErrorMsg" class="alert alert-error" ng-show="error">Wrong email or password</div>
                      
                      <button type="submit" class="btn btn-success btn-block" ng-disabled="!loginForm.$valid" ng-click="signin()">Login</button>
                      <a href="#/signup" class="btn btn-default btn-block">Register as User</a>
                  </form>
              </div>
          </div>
      </div>
  </div>
