<div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
      <div class="modal-body">
          <div class="well">
              <form id="loginForm" name="loginForm" novalidate>
                  <div class="form-group">
                      <label for="name" class="control-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" title="Please enter your name" placeholder="Donald Knuth" ng-model="name">
                      <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                      <label for="login" class="control-label">Email</label>
                      <input type="text" class="form-control" id="login" name="login" title="Please enter your email" placeholder="your@email.com" ng-model="login">
                      <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                      <label for="password" class="control-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password" title="Please enter your password" ng-model="password">
                      <span class="help-block"></span>
                  </div>

                  <div class="form-group">
                      <label for="passwordConf" class="control-label">Password Confirmation</label>
                      <input type="password" class="form-control" id="passwordConf" name="passwordConf" title="Please confirm your password" ng-model="passwordConf">
                      <span class="help-block"></span>
                  </div>
                  <div id="loginErrorMsg" class="alert alert-error" ng-show="error">Wrong email or password</div>
                  
                  <button type="submit" class="btn btn-success btn-block" ng-click="signup()">Register</button>
              </form>
          </div>
      </div>
  </div>
</div>
