body {
	background: none;
}

#login-overlay {
	width: 320px;
}

#loginErrorMsg {
	text-align: center;
}

#hello {
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	font-size: 39px;
	font-weight: 300;
	height: 50px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.valdr-message {
	display: none;
}
.valdr-message.ng-dirty.ng-invalid.ng-touched {
	display: inline;
}
