<!DOCTYPE html>
<html>
<head>
  <title>CtrlCalories</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="CtrlCalories">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Ctrl-Calories</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">My Profile</a></li>
	        <li><a href="#">Meals</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container" ng-view>
</body>
</html>
